<div class="container-fluid">
  <h3 class="text-center mt-3"><%= @event.name %></h3>
  <p class="text-center my-2"><%=pluralize @attendants.count, "asistente" %></p>
  <div class="table-responsive">
    <div class="divTable paleBlueRows">
      <div class="divTableHeading">
        <div class="divTableRow">
          <div class="divTableHead">Nombre</div>
          <div class="divTableHead">Apellidos</div>
          <div class="divTableHead">Rut</div>
          <div class="divTableHead">Teléfono</div>
          <div class="divTableHead">Email</div>
          <div class="divTableHead">Asiento</div>
          <div class="divTableHead">Tº</div>
          <div class="divTableHead">Declaración</div>
        </div>
      </div>
      <div class="divTableBody">
        <% @attendants.order(seat: :asc).each do |attendant| %>
          <%= content_tag :div, class: 'divTableRow', id: dom_id(attendant) do %>
            <div class="divTableCell"><%= attendant.first_name %></div>
            <div class="divTableCell"><%= attendant.last_name %></div>
            <div class="divTableCell"><%= attendant.rut %></div>
            <div class="divTableCell"><%= attendant.phone %></div>
            <div class="divTableCell"><%= attendant.email %></div>
            <div class="divTableCell"><%= attendant.seat %></div>
            <div class="divTableCell"><%= attendant.seat %></div>
            <% if attendant.declaration.present? %>
              <div class="divTableCell">
                <%= "SI" %>
              </div>
            <% else %>
              <div class="divTableCell">
                <%= "NO" %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
