<div class="container-fluid">
  <h3 class="text-center mt-3"><%= @event.name %></h3>
  <p class="text-center my-2"><%=pluralize @event.attendants.count, "asistente" %></p>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead class="bg-primary">
        <tr>
          <th scope="col" class="bold text-center" style="color: #fff;">Inscrito el</th>
          <th scope="col" class="bold text-center" style="color: #fff;">Nombre</th>
          <th scope="col" class="bold text-center" style="color: #fff;">Apellidos</th>
          <th scope="col" class="bold text-center" style="color: #fff;">Rut</th>
          <th scope="col" class="bold text-center" style="color: #fff;">Teléfono</th>
          <th scope="col" class="bold text-center" style="color: #fff;">Correo electrónico</th>
          <th scope="col" class="bold text-center" style="color: #fff;">Asiento</th>
          <th scope="col" class="bold text-center" style="color: #fff;">Pase de movilidad</th>
          <th scope="col" class="bold text-center" style="color: #fff;">Declaración</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @attendants.each do |attendant| %>
          <tr>
            <td scope="row" class="text-center"><%= attendant.created_at.strftime('%d/%m/%Y') %></td>
            <td class="text-center"><%= attendant.first_name %></td>
            <td class="text-center"><%= attendant.last_name %></td>
            <td class="text-center"><%= attendant.rut %></td>
            <td class="text-center">
            <%= link_to attendant.phone, "https://wa.me/56#{attendant.phone}?text=Hola%20#{attendant.first_name},%20haz%20click%20en%20el%20siguiente%20link%20para%20que%20completes%20tu%20Declaración%20Jurada:%20https://iap-nacto.herokuapp.com/events/#{attendant.event.id}/declarations/new", target: "_blank"%>
            </td>
            <td class="text-center"><%= attendant.email %></td>
            <td class="text-center"><%= attendant.seat %></td>
            <td class="text-center">
              <%= link_to rails_blob_path(attendant.pase, diposition: "attachment"), target: "_blank" do %>
                <i class="fas fa-file-pdf"></i>
              <% end %>
            </td>
            <% if attendant.declaration.present? %>
              <td class="text-center"><%= link_to 'Ver declaración', event_declaration_path(attendant.event, attendant.declaration), class: "btn btn-success see-declaration", target: "_blank" %></td>
            <% else %>
              <td></td>
            <% end %>
            <td class="text-center">
            <%= link_to edit_attendant_path(attendant) do %>
              <i class="fas fa-pen danger"></i>
            <% end %>
            <%= link_to attendant_path(attendant), method: :delete, data: { confirm: "Estás seguro?" } do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
                </td>
          </tr>
        <% end %>
      </tbody>
  </table>
  </div>
</div>
