<div class="container-fluid">
  <h3 class="text-center mt-3"><%= @event.name %></h3>
  <p class="text-center my-2"><%=pluralize @attendants.count, "asistente" %></p>
  <div class="d-flex justify-content-end">
    <%= link_to 'Descargar PDF', event_asistentes_path(::Event.find(params[:id]), format: :pdf), class: "btn btn-primary mb-2", target: "_blank" %>
  </div>


  <div class="table-responsive">
    <div class="divTable paleBlueRows">
      <%= render "table_header" %>
      <%= render "attendants" %>
    </div>
  </div>

  <h4 class="text-center my-2 mt-5">Colaboradores</h4>
  <p class="text-center"><%=pluralize @collaborators.count, "inscrito" %></p>
  <div class="d-flex justify-content-end">
    <%= link_to 'Descargar PDF', event_colaboradores_path(::Event.find(params[:id]), format: :pdf), class: "btn btn-info mb-2", target: "_blank" %>
  </div>

  <div class="table-responsive">
    <div class="divTable paleGreenRows mb-3">
      <%= render "table_header2" %>
      <%= render "event_collaborators" %>
    </div>
  </div>

  <div class="d-flex justify-content-center" id="somediv">
    <%= render "event_collaborators/form" %>
  </div>
</div>

