<div class="container">
  <h1 class="text-center mt-3 "><%= @event.name %></h1>
  <p class="text-center"><%=pluralize @event.attendants.count, "asistente" %></p>
  <table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col" class="bold">Nombre</th>
      <th scope="col">Apellidos</th>
      <th scope="col">Rut</th>
      <th scope="col">Teléfono</th>
      <th scope="col">Correo electrónico</th>
      <th scope="col">Inscrito el</th>
      <th scope="col">Declaración</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @attendants.each do |attendant| %>
      <tr>
        <td><%= attendant.first_name %></td>
        <td><%= attendant.last_name %></td>
        <td><%= attendant.rut %></td>
        <td><%= attendant.phone %></td>
        <td><%= attendant.email %></td>
        <td scope="row"><%= attendant.created_at.strftime('%d/%m/%Y') %></td>
        <% if attendant.declaration.present? %>
          <td><%= link_to 'Ver declaración', event_declaration_path(attendant.declaration) %></td>
        <% else %>
          <td></td>
        <% end %>
        <td>
        <%= link_to attendant_path(attendant), method: :delete, data: { confirm: "Estás seguro?" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
            </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
